table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

}

td {
  text-align: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

td.W {
   background-color:green;

}

td.L {
 background-color:red;
}

img.logo {
    width: 75px;
    height: 50px;
}

span.new {
    color: red;
    font-weight: bold;
}

h2 {
    font-size: small;
}